<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
  <style>
    body {
      background-image: url('https://i.pinimg.com/originals/2e/c0/1f/2ec01f5f9ef54422276d913e6cb4e8f9.jpg');
      
    }
    </style>
</head>
<body>

</div>
<div>
  <div class='center'>
    <div class='title'>Is it Phineas or Ferb?</div>
    <div class='words'>
    <p>
      Use images of <strong>Phineas</strong> or <strong>Ferb</strong>
    </p>
    </div>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NkQrKxTFARM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

</body>
</html>
